<%- include("header") -%> 

    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <% for (let i = 0; i < newListItems.length; i++) { %>
        <div class="item">
            <input type="checkbox">
                <p> <%= newListItems[i] %>  </p>
        </div>
        <% } %> 

        <form action="/" method="POST">
            <!-- <img class="mb-4" src="https://img.icons8.com/color/48/000000/microsoft-to-do-app.png" alt="" width="72" height="72"> -->
        
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required autofocus>
            
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
            
        </form>
</div>

<%- include("footer") -%> 

</html>


